.form {
    margin: 25px;
}

.form__input {
    margin: 7px 20px;
}

.form__input.invalid {
    background-color: rgb(245, 217, 217);
}

.btn.login {
    border-color: gray;
    background-color: #212529;
    color: #fff;
}

